# Visual Studio files
*.user
*.suo
*.userprefs
*.vspscc
*.vssscc
*.sln.docstates

# Build results
[Dd]ist/
[Bb]uild/
[Tt]est/
[Bb]in/
[Oo]bj/
[Bb]in-Debug/
[Bb]in-Release/
[Ll]ib/
[Ll]ib-Debug/
[Ll]ib-Release/
[Ii]ntermediate/
*.dll
*.exe
*.pdb
*.cache
*.log
*.vsix
*.pfx
*.snk
*.skp
*.publish.xml
*.zip
*.tar.gz
*.tar.bz2
*.rar
*.7z

# NuGet Packages
*.nupkg
*.nuget.props
*.nuget.targets
*.nuspec
*.nupkg.sha512

# NuGet Package Restore
**/packages/*
**/build/*
**/obj/*
**/bin/*
**/TestResults/*
**/testresults/*
**/TestAdapter*
**/TestAdapter*
**/TestExplorer*
**/MT*
**/VSTest*
**/TestHost*
**/TestPlatform*
**/testrun*
**/testrun*
**/TestResults*
**/TestResults*
**/Microsoft.TestPlatform*
**/Microsoft.VisualStudio.TestPlatform*
**/Microsoft.VisualStudio.TestTools.UnitTesting*
**/Microsoft.VisualStudio.TestWindow*
**/Microsoft.TestWindow*

# Roslyn compiler cache
**/obj/project.assets.json
**/packages/*
**/bin/*.xml
**/bin/*.json
**/bin/*.cache
**/bin/*.pdb
**/bin/*.data
**/bin/*.map
**/bin/*.exe
**/bin/*.dll
**/bin/*.snk
**/bin/*.pfx
**/bin/*.p12
**/bin/*.publish.xml
**/bin/*.zip
**/bin/*.tar.gz
**/bin/*.tar.bz2
**/bin/*.rar
**/bin/*.7z

# ReSharper
**/_ReSharper.*
**/bin/ReSharper.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider.*
**/bin/Rider